.scroll-bar{
    height: 5px;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: #d61919;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-bar linear;
    animation-timeline: scroll();
}

@keyframes scroll-bar{
    to {
        scale: 1 1;
    }
}