@use "../abstracts" as a;

html, body {
  font-size: 12px;
  background-color: #000000e1;
  color: #ffffff;
  position: relative;
  margin: 0;
  height: 100%; /* Ensure body takes the full height of the viewport */
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../images/bg-img.png);
  background-position: center;
  background-size: cover;
  inset: 0;
  opacity: 0.5; /* Adjust the opacity value as needed */
  z-index: -1; /* Ensure it doesn't overlap the content */
}

// INTRO PAGE CSS START
#intro-page{
  width: 100%;
  height: 100dvh;
  justify-content: center; 
  align-items: center;
 
  .video-bg{
      height: 100dvh;
      overflow: hidden;
      object-fit: contain; 
      z-index: 1;
      opacity:.4;
     
  
      .video{
          width: 100%; 
          height: 100%; 
          object-fit: contain; 
          top: 20;
          left: 100;
      }
  }
 #black-container{
      background-color: #000000;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top:0;
      z-index: 2;
      opacity:.5;
     
 }
 #intro-content{
  overflow: hidden;
  display: grid;
  position: absolute;
  z-index: 3;
  justify-content: center;
  align-content: center;
  top: 0;
 
  #intro-content .grid-con { 
      grid-column: 2/3;
      grid-row:1/1;
      margin: 0;
   }
  picture{
      height: 100vh;
      overflow: hidden;
      img{
          width: 100%;
          height: 100vh;
      }
     
  }
 }

 #intro-text{
      text-align: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: grid;
      position: absolute;
      z-index: 4;
      justify-content: center;
      align-content: center;
      top: 0;
      

      #intro-names{
      text-align: left;
      
          h2{
              font-family: a.$bold-font;
              font-size: 6vw;
              text-transform: uppercase;
              letter-spacing: 1px;
          }
         
     }
     h3{
      // color: a.$red;
      font-family: var(--body-font);
      font-size: 5vw;
      text-transform: uppercase;
      padding-top: 10px;
      }

     #intro-click{
      margin-top: 40px;
      justify-self: center;
      align-items: center;
      display: flex;
      font-size: 3vw;
      
      img{
          padding: 0 10px;
      }
      p a {
          text-decoration: none;
          color: #f5f3f3;
      }
      span{
          color: var(--red-color);
      }
     }

 }
 
}
// INTRO PAGE CSS END

// INDEX PAGE CSS START
// HEADER SECTION
#top-nav{
  height: 70px;
  // padding-top: 10px;
  background-color: a.$black;

 
 

  #header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: #f5f3f3;
      background-color: a.$black;
      height: 12vh;
      border-bottom: 10px solid a.$white;
      position: fixed;
      width: 100vw;
      z-index: 99;

  }
  

  .container-mobile-top-logo{
    margin-left:20px;
      
      
      img{
          width: 8vw;
      }
  }
  .container-mobile-top-logo-swap{
      transform: rotate(90deg);
      transition: transform .5s ease-in-out;
      animation: low 2s infinite;
  }

  .mobilie-top-logo{
      img{
          width: 12vw;
          height: 9vh;
          margin-left: 30px;
      }
  }

  #cv-resume{
      text-align: center;
      margin-right:20px ;
      button{
          background-color: a.$red;
          font-family: a.$body-font;
          font-size: 3vw;
          cursor: pointer;
          color: a.$white;
          height: 25px;
          text-transform: uppercase;
          text-align: center;
          border: 1px solid a.$white; 
          position: relative;
          overflow: hidden; 
          background: linear-gradient(to left, a.$red 50%, a.$black 50%);
          background-size: 200% 100%; 
          background-position: 100% bottom; 
          transition: background-position 0.5s ease-in-out; 

      }
      button:hover{
          background-position: 100% bottom;
          border: 1px solid a.$white; 
          transition: border 1s ease-in-out, background-position 0.5s ease-in-out;
          background: linear-gradient(to right, a.$red 50%, a.$black 50%);
          background-size: 200% 100%;  

      }
  }
  #head-nav{
      position: absolute;
      width: 100vw;
      // height: 60vh;
      background-color: a.$black;
      // background-color: rgb(1, 35, 35);
      filter: blur(70);
      left:0;
      z-index: -1;
      top:90%;
      
      a{
          text-decoration: none;
          color: a.$white;
          font-family: a.$body-font;
          font-size: 4vw;
      }
      .arrow-icon > a::after{
          content: '';
          position: absolute;
          width: 12px; 
          height: 12px;
          background-image: url('../images/arrow-right.svg');
          background-size: cover;
          background-repeat: no-repeat;
          margin-top: 2vw;
          margin-left: 10px;

      }
      
      ul{
          list-style: none;
          padding-top: 20px;
          justify-content: center;
          align-self: center;
          margin-left: -8vw;
      }
      ul li{
          padding-bottom: 5px;
          padding-top: 5px;
          margin-bottom: 15px;
          border-top: .1px solid a.$red;  
      }
      p{
          text-align: center;
          margin-top: 5vh;
          text-decoration: none;
          font-family: a.$body-font;
          font-size: 3vw;
          margin-bottom: 5vh;
          margin-left:-19vw;
          
      }
  }
  .sub-menu1, .sub-menu2, .mb-nav{
      display: none;
  }
  .sub-menu1.show{
      display: block;
      margin-left: 12vw;
      border: none;
  }
  .sub-menu2.show{
      display: block;
      margin-left: 12vw;
      opacity: 1;
      transition: opacity 5s ease-in-out;
  }
  .sub-menu1 ul li{
      padding-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 15px;
      border-top: 1px solid a.$red;  
  }
  .sub-menu2 ul li{
      padding-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 15px;
      border-top: 1px solid a.$red;  
  }
  
}
.scroll-bar{
  height: 5px;
  position: fixed;
  top:0;
  z-index: 1000;
  background-color: #d61919;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-bar linear;
  animation-timeline: scroll();
}

@keyframes scroll-bar{
  to {
      scale: 1 1;
  }
}

// HERO SECTION
#hero-main{
  // position: relative;
  overflow-x: hidden;
  margin-top: 20px;
  height: 850px;
  // background-image: url(../images/bg-img.png);
  background-position: center;
  background-size: cover;
  inset: 0;
  // width: 100%;
  // height: 100vh;
  padding: 0;
  
 .bg-vid{
  opacity: .29;
  width: 250vw;
  height:185vh ;
  margin-top:-410px;
 }
  
  picture{
    position: absolute;
    overflow: hidden;
    // z-index: 10;
    
    // margin-top: -30vh;
  
    img{
      width: 97vw;
      height: 135vh;
    }
  }
  // intro-text
  #intro-text{
    text-align: left;
    // width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-left: 30vw;
    margin-top: -2vh;
    // display: grid;
    position: absolute;
    z-index: 4;
    justify-content: center;
    align-content: center;
    top: 0;
    

    #intro-names{
    text-align: left;
    
        h2{
            font-family: a.$bold-font;
            font-size: 6vw;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
       
   }
   h3{
    color: a.$red;
    font-family: a.$body-font;
    font-size: 5vw;
    text-transform: uppercase;
    padding-top: 10px;
    
    }
     .intro-bio{
      width: 60vw;
     }
     p{
      font-family: a.$body-font;
      margin-top: 1vh;
      letter-spacing: .5px;
     }
  }
  .cta-work{
    position: absolute;
    top: 67%;
    left: 72%;
    cursor: pointer;
    z-index: 12;
   
      .click-button {
        // width: 32px;
        height: 4vh;
        font-size: 3.2vw;
        cursor: pointer;
        color: a.$white;
        // height: 35px;
        border: 2px solid a.$white; 
        background: linear-gradient(to left, a.$red 50%, a.$black 50%);
          background-size: 200% 100%; 
          background-position: 100% bottom; 
          transition: background-position 0.5s ease-in-out; 
        }
        .click-button:hover{
          background-position: 100% bottom;
          border: 1px solid a.$white; 
          transition: border 1s ease-in-out, background-position 0.5s ease-in-out;
          background: linear-gradient(to right, a.$red 50%, a.$black 50%);
          background-size: 200% 100%;  

      }

  }
}


#slide-image{
  // display: flex;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  margin-left: 10px;
  .bg-vid{
    opacity: .29;
    width: 250vw;
    height:185vh ;
    margin-top:-410px;
   }
   #img-top-left{
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
    width: 50vw;
    height: 50vh;
    right:15% ;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    img{
      object-fit:cover;

    }
   }
   #img-top-right{
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
    width: 50vw;
    height: 40vh;
    right:1% ;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    img{
      object-fit:cover;
    }
   }
   #img-bottom-left{
    display: flex;
    flex-direction: row;
    background-color: rgb(133, 80, 10);
    width: 55vw;
    height: 29.8vh;
    right:1% ;
    top: 39%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    img{
      object-fit: cover;
      
    }
   }
   #img-bottom-right{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 45vw;
    height: 40vh;
    right:1% ;
    top: 31%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    img{
      object-fit: cover;
    }
   }
}


// VIDEO REEL
/* Reels Section */
#reel-box{
  position: relative;
  display: flex;
  flex-direction: column;
  border: 5px solid a.$red;
}
#countdown-circle {
  width: 38px;
  height: 38px;
  background-color: a.$black;
  border-radius: 50%;
  border: 5px solid a.$red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  position: absolute;
  right: 45%;
  margin-top: -1.5rem;
  
}

#countdown-text {
  font-family: a.$bold-font;
  font-size: 4vw;
}


.video-controls{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: a.$black;
  background-image: linear-gradient(to bottom, rgb(0,0,0,0.3), rgb(0,0,0,0.5));
  padding: 20px;
  display: flex;
  filter: opacity(.8);
  z-index: 25;
}
.video-controls.hide{
  opacity: 0;
  pointer-events: none;
}
#play-button, #pause-button, #stop-button{
  padding: 0 .3rem 0 .3rem;
}
#full-screen{
  padding-left:.3rem;
}
#volume{
  margin-left: auto;
  padding: 0 .3rem 0 .3rem;
}
.video-controls.hidden {
display: none;
}
button{
  padding: 0;
  border: 0;
  background-color: transparent;
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 12rem;
  padding: 0 .3rem 0 .3rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #c40f0f;
  border-radius: 2.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #000000;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #000000;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #bd0e0e;
  outline-offset: 0.125rem;
}
.scroll-bar{
  height: 7px;
  position: fixed;
  top:1%;
  z-index: 1999;
  background-color: #d61919;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-bar linear;
  animation-timeline: scroll();
}

@keyframes scroll-bar{
  to {
      scale: 1 1;
  }
}