@use "../abstracts" as a;

html, body{
  font-size: 12px;
  background-color: #000000;
  color: a.$white;
}

// INTRO PAGE CSS START
#intro-page{
  width: 100%;
  height: 100dvh;
  justify-content: center; 
  align-items: center;
 
  .video-bg{
      height: 100dvh;
      overflow: hidden;
      object-fit: contain; 
      z-index: 1;
      opacity:.4;
     
  
      .video{
          width: 100%; 
          height: 100%; 
          object-fit: contain; 
          top: 20;
          left: 100;
      }
  }
 #black-container{
      background-color: #000000;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top:0;
      z-index: 2;
      opacity:.5;
     
 }
 #intro-content{
  overflow: hidden;
  display: grid;
  position: absolute;
  z-index: 3;
  justify-content: center;
  align-content: center;
  top: 0;
 
  #intro-content .grid-con { 
      grid-column: 2/3;
      grid-row:1/1;
      margin: 0;
   }
  picture{
      height: 100vh;
      overflow: hidden;
      img{
          width: 100%;
          height: 100vh;
      }
     
  }
 }

 #intro-text{
      text-align: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: grid;
      position: absolute;
      z-index: 4;
      justify-content: center;
      align-content: center;
      top: 0;
      

      #intro-names{
      text-align: left;
      
          h2{
              font-family: a.$bold-font;
              font-size: 6vw;
              text-transform: uppercase;
              letter-spacing: 1px;
          }
         
     }
     h3{
      // color: a.$red;
      font-family: var(--body-font);
      font-size: 5vw;
      text-transform: uppercase;
      padding-top: 10px;
      }

     #intro-click{
      margin-top: 40px;
      justify-self: center;
      align-items: center;
      display: flex;
      font-size: 3vw;
      
      img{
          padding: 0 10px;
      }
      p a {
          text-decoration: none;
          color: #f5f3f3;
      }
      span{
          color: var(--red-color);
      }
     }

 }
 
}
// INTRO PAGE CSS END

// INDEX PAGE CSS START
// HEADER SECTION
#top-nav{
  height: 70px;
  // padding-top: 10px;
  background-color: a.$black;

 
 

  #header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: #f5f3f3;
      background-color: a.$black;
      height: 12vh;
      border-bottom: 10px solid a.$white;
      position: fixed;
      width: 100vw;
      z-index: 9999;

  }
  

  .container-mobile-top-logo{
    margin-left:20px;
      
      
      img{
          width: 8vw;
      }
  }
  .container-mobile-top-logo-swap{
      transform: rotate(90deg);
      transition: transform .5s ease-in-out;
      animation: low 2s infinite;
  }

  .mobilie-top-logo{
      img{
          width: 12vw;
          height: 9vh;
          margin-left: 30px;
      }
  }

  #cv-resume{
      text-align: center;
      margin-right:20px ;
      button{
          background-color: a.$red;
          font-family: a.$body-font;
          font-size: 3vw;
          cursor: pointer;
          color: a.$white;
          height: 25px;
          text-transform: uppercase;
          text-align: center;
          border: 1px solid a.$white; 
          position: relative;
          overflow: hidden; 
          background: linear-gradient(to left, a.$red 50%, a.$black 50%);
          background-size: 200% 100%; 
          background-position: 100% bottom; 
          transition: background-position 0.5s ease-in-out; 

      }
      button:hover{
          background-position: 100% bottom;
          border: 1px solid a.$white; 
          transition: border 1s ease-in-out, background-position 0.5s ease-in-out;
          background: linear-gradient(to right, a.$red 50%, a.$black 50%);
          background-size: 200% 100%;  

      }
  }
  #head-nav{
      position: absolute;
      width: 100vw;
      // height: 60vh;
      background-color: a.$black;
      // background-color: rgb(1, 35, 35);
      filter: blur(70);
      left:0;
      z-index: -1;
      top:90%;
      
      a{
          text-decoration: none;
          color: a.$white;
          font-family: a.$body-font;
          font-size: 4vw;
      }
      .arrow-icon > a::after{
          content: '';
          position: absolute;
          width: 12px; 
          height: 12px;
          background-image: url('../images/arrow-right.svg');
          background-size: cover;
          background-repeat: no-repeat;
          margin-top: 2vw;
          margin-left: 10px;

      }
      
      ul{
          list-style: none;
          padding-top: 20px;
          justify-content: center;
          align-self: center;
          margin-left: -8vw;
      }
      ul li{
          padding-bottom: 5px;
          padding-top: 5px;
          margin-bottom: 15px;
          border-top: .1px solid a.$red;  
      }
      p{
          text-align: center;
          margin-top: 5vh;
          text-decoration: none;
          font-family: a.$body-font;
          font-size: 3vw;
          margin-bottom: 5vh;
          margin-left:-19vw;
          
      }
  }
  .sub-menu1, .sub-menu2, .mb-nav{
      display: none;
  }
  .sub-menu1.show{
      display: block;
      margin-left: 12vw;
      border: none;
  }
  .sub-menu2.show{
      display: block;
      margin-left: 12vw;
      opacity: 1;
      transition: opacity 5s ease-in-out;
  }
  .sub-menu1 ul li{
      padding-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 15px;
      border-top: 1px solid a.$red;  
  }
  .sub-menu2 ul li{
      padding-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 15px;
      border-top: 1px solid a.$red;  
  }
  
}


// HERO SECTION
#hero-main{
  overflow-x: hidden;
  margin-top: 20px;
  
 .bg-vid{
  opacity: .29;
  width: 250vw;
  height:185vh ;
  margin-top:-410px;
 }
  
  picture{
    position: absolute;
    overflow: hidden;
    
    margin-top: -30vh;
  
    img{
      width: 97vw;
      height: 135vh;
    }
  }
  // intro-text
  #intro-text{
    text-align: left;
    // width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-left: 30vw;
    margin-top: -2vh;
    // display: grid;
    position: absolute;
    z-index: 4;
    justify-content: center;
    align-content: center;
    top: 0;
    

    #intro-names{
    text-align: left;
    
        h2{
            font-family: a.$bold-font;
            font-size: 6vw;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
       
   }
   h3{
    color: a.$red;
    font-family: a.$body-font;
    font-size: 5vw;
    text-transform: uppercase;
    padding-top: 10px;
    
    }
     .intro-bio{
      width: 60vw;
     }
     p{
      font-family: a.$body-font;
      margin-top: 1vh;
      letter-spacing: .5px;
     }
  }
  .cta-work{
    position: absolute;
    top: 67%;
    left: 72%;
    cursor: pointer;
   
      .click-button {
        // width: 32px;
        height: 4vh;
        font-size: 3.2vw;
        cursor: pointer;
        color: a.$white;
        // height: 35px;
        border: 2px solid a.$white; 
        background: linear-gradient(to left, a.$red 50%, a.$black 50%);
          background-size: 200% 100%; 
          background-position: 100% bottom; 
          transition: background-position 0.5s ease-in-out; 
        }
        .click-button:hover{
          background-position: 100% bottom;
          border: 1px solid a.$white; 
          transition: border 1s ease-in-out, background-position 0.5s ease-in-out;
          background: linear-gradient(to right, a.$red 50%, a.$black 50%);
          background-size: 200% 100%;  

      }

  }

  

}
// INDEX PAGE CSS END


